* {
    margin: 0;
    padding: 0;
}



.cabecera {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    background-color: #232530;
    color: white;
    padding: 10px 30px;
    height: 100px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        background-color: #232530;
        top: 100%;
        width: 100%;
        overflow: hidden; 
    }

    .navbar-nav {
        width: 100%; 
    }

    .nav-item {
        padding: 5px 0; 
    }
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.navbar-toggler {
    background-color: white;
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1); /* Hace que el icono sea blanco */
}

.navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
    margin-left: 50px;
}

.navbar-nav .nav-link:hover {
    color: rgb(255, 174, 0);
    text-decoration: underline;
}